<table class="params">
    <thead>
    <tr>
        <th>Type</th>
        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td class="type">
                <?js if (this.stringifyType && obj.type.parsedType) {?>
                <?js
                    var type = this.stringifyType(obj.type.parsedType).replaceAll("|", " | ");
                    if (type[0] == "(" && type.at(-1) == ")") type = type.slice(1, -1);
                    print(type);
                ?>
                <?js } else {?>
                <?js= this.partial('type.tmpl', obj.names) ?>
                <?js } ?>
            </td>
            <td class="description last">
                <?js if (obj.description) {?>
                <?js= obj.description ?>
                <?js } ?>
            </td>
        </tr>
    </tbody>
</table>
