<table class="params">
    <thead>
    <tr>
        <th>Type</th>
        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td class="type">
                <?js if (obj.type?.names) {?>
                <?js= this.partial('type.tmpl', obj.type.names) ?>
                <?js } ?>
            </td>
            <td class="description last">
                <?js if (obj.description) {?>
                <?js= obj.description ?>
                <?js } ?>
            </td>
        </tr>
    </tbody>
</table>
