<?js
    obj.forEach((name, i) => {
        var link = this.linkto(name, this.htmlsafe(name));
        if (i < obj.length-1) link += " | ";
?>

<span class="param-type"><?js=link?></span>

<?js }); ?>
